// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account {
  width: 680px;
  margin: 20px auto;
}

.account:after{
  content: "";
  display: table;
  clear: both;
};

.account > h1 {
  background: #ddd;
  width: 650px;
  padding: 20px;
  margin: 0 auto 0 auto;
  border: 2px grey;
  border-radius: 5px;
}

div.general {
  width: 650px;
  margin: 20px auto 20px auto;
  padding: 20px;
  background: white;
  border: 2px grey;
  border-radius: 5px;
}

.general > h2 {
  padding-bottom: 20px;
  padding-left: 80px;
}

.general-info {
  width: 300px;
  border-collapse: collapse;
}

.general > img {
  margin: 0 auto;
  float: left;
}

td {
  padding: 20px;
  border: 1px solid lightgrey;
  border-left: 0;
  border-right: 0;
}

.avatar {
  width: 200px;
  display: block;
  float: right;
}

.avatar > img {
  display: block;
  float: left;
  border: 3px solid black;
  margin-bottom: 10px;
}

.avatar-dialog {
  float: right;
  display: block;
  width: 200px;
}

.avatar-dialog:after {
  content: "";
  display: block;
  clear: both;
};

.avatar-dialog > a {
  display: block;
  color: white;
  padding: 10px 20px;
  text-align: center;
  background: blue;
}

//Needs to be changed to look better
.avatar-dialog > a:hover {
  background: darkblue;
  color: #f4f4f4;
  text-decoration: none;
};

#user_avatar {
  margin-top: 10px;
  width: 180px;
  display: block;
  float: right;
}

.interests {
  width: 500px;
  margin: 0 auto 20px auto;
  padding: 20px;
  background: white;
  border: 2px grey;
  border-radius: 5px;
}

.edit {
  margin-top: 25px;
  margin-right: 25px;
}

.update {
  float: right;
  margin-top: 90px;
  margin-right: 10px;
}

//Notification Page
.notifications {
  background: white;
  display: block;
  width: 500px;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
}

.notifications:after {
  content: "";
  display: block;
  clear: both;
};

.notification {
  float: left;
  width: 100%;
}

.notification > a {
  float: left;
  padding-right: 20px;
}

.notification > .button_to {
  float: left;
}

//Edit Page
.account-edit {
  margin-left: 0;
}

h1.edit-header {
  display: block;
  text-align: center;
  width: 650px;
  background: #ddd;
  border-radius: 5px;
}

//Change Password Page
.account-password {
  background: white;
  float: left;
  padding: 20px;
  margin-left: 100px;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

h1.password-header {
  display: block;
  text-align: center;
  margin-left: 100px;
  width: 430px;
  background: #ddd;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}


//Change Address Page
.account {
  padding-top: 20px;
}

h1.address-header {
  display: block;
  text-align: center;
  margin-left: 100px;
  width: 430px;
  background: #ddd;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}


.account-address {
  background: white;
  float: left;
  padding: 20px;
  margin-left: 100px;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
