// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content:after {
  content: "";
  clear: both;
  display: table;
}

.member-main-content {
  background: white;
  width: 595px;
  margin-left: 15px;
  border-radius: 5px;
  padding: 20px;
}

.member-main-content:after {
  clear: both;
  display: block;
  content: "";
};

.member-content-left {
  width: 320px;
}

.member-header {
  padding-bottom: 20px;
}

.member-comments-header {
  margin-top: 20px;
}

.new-post {
  width: 370px;
}
.members-page {
  width: 70%;
  background: white;
  margin-left: 15px;
  border-radius: 5px;
}

.members-header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.members-header > h1 {
  margin-left: 20px;
}

.members-list {
  width: 100%;
  padding-bottom: 20px;
}

.members-member {
  padding: 20px;
//  Some weird styling things going on here
//  border-bottom: 1px solid #ddd;
}

.members-info {
  margin-left: 20px;
}



.member-meetups > h3 {
  width: 95%;
  background: #ddd;
  padding-left: 10px;
  margin: 0;
}

.member-meetups {
  background: #eee;
  width: 200px;
  margin-top: 10px;
}

.meetup {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #fff;
}

.meetup:after {
  content: "";
  display: block;
  clear: both;
};

.meetup-avatar {
  border: 1px solid black;
}

.meetup-title {
  padding-left: 10px;
  width: 130px;
}

.meetup-member {
  width: 130px;
  font-size: 10px;
}

.member-meetups > a {
  font-size: 12px;
  text-align: center;
  padding: 10px;
}