// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content:after {
  content: "";
  clear: both;
  display: table;
}

.member-main-content {
  background: white;
  margin-left: 10px;
  border-radius: 5px;
  padding: 20px;
}