// Place all the styles related to the Roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.find-title-bar {
  display: block;
  position: relative;
}

.find_title_bar_pic {
  width: 100%;
  height: 400px;
  z-index: 1;
}

.title-text {
  position: absolute;
  width: 480px;
  padding-top: 40px;
  padding-left: 80px;
}
.title-text > h1 {
  font-size: 40pt;
  color: #fff;
  float: left;
  text-shadow: 2px 2px black;
  z-index: 2;
}

.title-text > p {
  font-size: 15pt;
  color: #fff;
  float: left;
  text-shadow: 2px 2px black;
  z-index: 2;
}

.find-groups {
  margin-top: 20px;
  display: block;
  width: 100%;
}

.thumbnail {
  width: 80px;
  margin-left: 28px;
  color: white;
}

//Events
.event-list {
  background: white;
  margin: 20px;
  margin-right: 0px;
  padding: 20px;
  width: 55%;
  border-radius: 5px;
}

.date-listings {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.event-listings:after {
  display: table;
  content: "";
  clear: both;
}

.date-listings > time {
  display: block;
  font-weight: bold;
  font-size: 12pt;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.event-listing {
  display: block;
  border-bottom: 1px solid lightgrey;
}

.event-listing > time {
  display: block;
  float: left;
}

.event-listing > header {

}

.event-listing > main {

}

.event-listing > footer {

}

//Calendar
.datepicker {
  margin: 20px 35px 0 0;
}