// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-user-title-bar {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.new_user_title_bar_pic {
  width: 100%;
  height: 360px;
  z-index: 1;
}

.user-header {
  background: #ddd;
  text-align: center;
  width: 410px;
  margin: 20px auto 0 auto;
  padding: 20px;
  border: 2px solid lightgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#new_user {
  width: 430px;
  background: white;
  margin: auto;
  padding-right: 20px;
  border: 2px solid lightgrey;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

.user-info {
  margin-left: 90px;
  padding-top: 20px;
}

.user-address {
  margin-left: 90px;
}

.user-password {
  margin-left: 90px;
}

.new-auths {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.new-auths:after {
  display: block;
  content: "";
  clear: both;
}

.new-auths-prompt {
  text-align: center;
}

.new-auths-icons {
  margin: auto;
}

.new-auths-icons:after {
  display: block;
  clear: both;
  content: "";
};

.new-auth_provider {
  width: 70px;
  margin-left: 50px;
}

.submit {
  margin-right: 30px;
}

.user-page {
  width: 650px;
  margin: auto;
}

#user_avatar {
  float: left;
  padding-bottom: 20px;
}

.user-page:after {
  content: "";
  display: table;
  clear: both;
}

.user-main-content {
  background: white;
  border-radius: 5px;
  width: 750px;
  margin: auto;
  padding: 20px;
}

.user-main-content:after{
  display: block;
  clear: both;
  content: "";
}

.user-content-left {
  width: 500px;
}

.user-comments {
  background: white;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
}

.user-comments > .new-post {
  width: 100%;
}

.user-general {
  background: white;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.user-general > img {
  float: right;
  margin-right: 20px;
  border: 3px solid black;
}

.meetups {
  background: white;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px
}
.interests {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  border-radius: 5px;;
}

.find-groups > h3 {
  text-align: center;
  margin-bottom: 20px;
}

.find-groups > .thumbnails > li {
  margin-left: 0px;
}

.find-groups > a {
  float: right;
}