<div class="notification">
  <tr>
    <td><%= link_to(notification.message, notification_url(notification)) %></td>
    <td><%= button_to "Delete", notification_url(notification), method: :delete, class: "btn btn-danger notification" %></td>
  <tr>
</div>